body {
	background-color: #FFF;
	font-family:"Heiti TC";
}

.video-container {
    position: relative;
    width: 94%;
    max-width: 960px;
    text-align: center;
}

.video-box {
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    width: 100%;
    opacity: 1
}

.video-box.show {
    opacity: 1
}

.video-box iframe,.video-box video,.video-box canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 10
}

.video-box #v2,.video-box #ctx2 {
    z-index: 20;
    opacity: 0
}

.video-box #v2.active {
    opacity: 1
}


.video-box .btn-play {
    -moz-transition: .25s;
    -o-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
    position: absolute;
    width: 100%;
    height: 101%;
    left: 0;
    top: 0;
    background: url('../images/play_btn.svg') no-repeat center rgba(0,0,0,0.7);
    background-size: 65px 75px;
    z-index: 50;
    cursor: pointer;
    opacity: 0
}

.video-box .btn-play.show {
    opacity: 1
}

.video-box .btn-play.show:hover {
    opacity: .75
}

.btn-switch {
    display: none !important;
}

.mobile .btn-switch,.tablet .btn-switch {
    display: block !important;
}

.mobile span.key,.tablet span.key {
    display: none !important;
}

span.key, span.btn-switch {
    -moz-transition: .25s;
    -o-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
    position: relative;
    display: inline-block;
    margin: 0 1%;
    z-index: 5
}

span.key.hold, span.btn-switch.hold{
    -moz-transform: scale(.9, .9);
    -ms-transform: scale(.9, .9);
    -webkit-transform: scale(.9, .9);
    transform: scale(.9, .9)
}
